<div class="col-md-12">
	<h3 class="mb-3 text-center">Add Lolchampion</h3>
	<div class="form-group row">
	  <label class="control-label col-md-12">Lolchampion Name</label>
	  <input type="text" [(ngModel)]="lolchampionDetails.name" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Role</label>
	  <input type="text" [(ngModel)]="lolchampionDetails.role" class="form-control">
	</div>

  	<div class="form-group row">
	  <label class="control-label col-md-12">Difficulty</label>
	  <input type="text" [(ngModel)]="lolchampionDetails.difficulty" class="form-control">
	</div>

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addLolchampion()">Add Lolchampion</button>
	</div>
</div>
