<button class="btn btn-outline-primary" routerLink="/lolchampion-create">Add Lolchampion</button>

<button class="btn btn-outline-primary" routerLink="/lolchampion-list">List Lolchampion</button>

<!-- Use this in the AppComponent template -->
<div class="container">
  <h2>Lolchampion</h2>
  <router-outlet></router-outlet>
</div>
